<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body bgcolor="#DCD1D1">
  <div align="center">
  <p style="text-align:center"><a href="/"><img src="/media/main_logo.png" alt="main_logo" height="40%" width="30%" /></a></p>
  <div align="right">
  {% if user.is_authenticated %}
  <a href="{% url 'account_email' %}">정보변경</a>|<a href="{% url 'account_logout' %}">로그아웃</a>|<a href="/store/register/">점주등록</a>|<a href="/store/manage/">점주관리</a>
  {% else %}
    <a href="{% url 'account_login' %}">로그인</a>|<a href="{% url 'account_signup' %}"> 회원가입</a>
  {% endif %}
  </div>  

    {% block body %}        
    <div>
    
        <form method='post' action='/'>
            점포: <input type="input" name="storesearch" id="storesearch"><input type="submit" value="검색">
        </form>
        <table border="2">
        <tr>
        <td>점포이름</td><td>점포주소</td><td>점포사진</td><td>점포리워드</td><td>등록</td>
        </tr>
        {% for store in store %}
        <tr>
        <td>{{ store.store_name }}</td><td>{{store.store_address}}</td><td><img src="/media/{{store.store_image}}" alt="main_logo" height="20%" width="20%" /></td><td>{{store.store_reward}}</td><td>{% if user.is_authenticated %}<input type="button" value="등록">{% else %}  {%endif%}</td>
        {% endfor %}
        </tr>
        </table>

    </div>
  
    {% block content %}

    {% endblock %}
    {% endblock %}
 
    {% block extra_body %}
    <div align="center">
    <a href="{% url 'account_login' %}">회사소개</a>|<a href="{% url 'account_signup' %}">광고</a>|    
    <a href="{% url 'account_login' %}">제휴제안</a>|<a href="{% url 'account_signup' %}">이용약관</a>|   
    <a href="{% url 'account_login' %}">개인정보처리방침</a>|<a href="{% url 'account_signup' %}">청소년보호정책</a>|    
    <a href="{% url 'account_login' %}">정책</a>|<a href="{% url 'account_signup' %}">고객센터</a>|    
    
    </div>
    {% endblock %}

    </div>
  </body>
</html>
