<h1>register</h1>
<form method='post' action='/store/register_ok'>
{{user.email}}
email: <input type='email' name='store_email' id='store_email' required=true><br>
name : <input type='text' name='store_name' id='store_name' required=true><br>
address : <input type='text' name='store_address' id='store_address' required=true><br>
image : <input type='file' name='store_image' id='store_image' required=true><br>
store_reward : <input type='number' name='store_reward' id='store_reward' required=true><br> 
<input type='submit' value='register'>
</form>
